# ZHIPU API 配置示例
# 复制此文件为 .env 并填入真实的 API 密钥==这边重要

#智谱API密钥，从智谱平台获取,目前是免费，不需要充值即可使用
ZHIPU_API_KEY=your_api_key_here.your_secret_here

#智谱模型URL信息，基本固定不变
ZHIPU_API_BASE_URL=https://open.bigmodel.cn/api/paas/v4

#智谱模型名称，根据需要选择
#ZHIPU_API_MODEL=glm-4.5

#DeepSeek
DEEPSEEK_API_KEY=sk-your_api_key_here
DEEPSEEK_API_BASE_URL=https://api.deepseek.com
DEEPSEEK_API_MODEL=deepseek-chat